.loginContainer {
    display: flex;  
}
.loginLeftContainer {
    border-style: solid;
    width: 60%;
    height: 100%;
}

.loginRightContainer {
    border-style: solid;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginActionContainer {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    height: 40%;
    width: 60%;
    min-width: 150px;
    min-height: 300px;
    margin-top: 20%;
}
.loginInputFields {
    text-align: center;
}
.loginButtonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.loginButton {
    width: 50%;
}
.loginSignupContainer {
    margin-top: 10%;
}